@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600,500,300);

@import "partials/settings";
@import "partials/foundation";

body {

  @media #{$medium-up} {
    .f-topbar-fixed {
      padding-top: 0;
    }
  }
}

header {
  background: $soft-blue;

  span {
    font-weight: $font-weight-bold;
  }
}
.mobile-main-nav {
  border-top: 6px solid $primary-color;
}
.desktop-main-nav {
  position: relative;
  height: 240px;
  background: url(../images/header_bg.png) $soft-blue;

  .logo {
    width: 156px;
    margin: 1rem auto -2.375rem;

    img {
      width: 100%;
    }
  }

  h1 {
    text-align: center;
    font-size: 1.75rem;
  }

  .custom-large-nav {
    position: absolute;
    width: 100%;
    bottom: -2.0625rem;

    nav {
      margin: auto;
      text-align: center;
      background: $body-font-color;
      border-radius: 6px;
      
      @media #{$cust-med-short} {
        border-radius: 0;
      }
      @media #{$cust-med-middle} {
        max-width: 866px;
      }
      @media #{$cust-med-long} {
        max-width: none;
        margin: 0 50px;
      }
      @media #{$cust-lrg-short} {
        max-width: 1100px;
        margin: 0 auto;
      }

      ul {
        margin: 0;
        list-style: none;
        height: 4.0625rem;


        li {
          display: inline-block;
          padding: 0 1.5rem;

          &>a {
            color: $primary-color;
            font-size: 1.1rem;
            line-height: 4.0625rem;
            display: block;

            &:hover {
              color: $white;
            }
          }
        }
      } 
    }
  }
}

section.hero {
  background: $primary-color;
  padding: 0 66px 66px;

  .hero-image {
    margin: auto;
    width: 326px;
    height: 250px;
    background: url(../images/ship.svg) 50% -20px no-repeat;
    background-size: cover;
  
    img {
      height: 0;
      opacity: 0;
    }
  }

  p {
    padding-top: 1.25rem;
    margin-bottom: 2.875rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: center;
    
    span {
      font-weight: 600;
    }
    
  }

  .hero-button {
    background: $secondary-color;
    height: 4.4375rem;
    width: 100%;
    border-bottom: .4375rem solid $grey-dark;
    text-align: center;
    
    a {
      display: block;
      height: 4.4375rem;
      color: $white;
      font-size: 1.25rem;
      line-height: 3.3;
    }
  }
}

section.trip-panels {

  .trip-info {
    height: 100px;

    .title {
      width: 50%;
      float: right;
      font-size: 1.5rem;
      margin: 0;
    }

    .price {
      width: 50%;
      float: left;
    }

    .details {
      width: 50%;
      float: right;
      margin: 0;
    }
  }
}
